/*****                    RESET CSS                  *****/
html{color:#222;margin:0;padding:0;}body,ul{padding:0;margin:0;}::-moz-selection{background: #b3d4fc;text-shadow: none;}::selection {background: #b3d4fc;text-shadow: none;}hr {display: block;height: 1px;border: 0;border-top: 1px solid #ccc;margin: 1em 0;padding: 0;}audio,canvas,iframe,img,svg,video{vertical-align: middle;}fieldset {border: 0;margin: 0;padding: 0;}textarea {resize: vertical;}.hidden,[hidden] { display: none !important;}.visually-hidden {border: 0;clip: rect(0, 0, 0, 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;white-space: nowrap;width: 1px;}.visually-hidden.focusable:active,.visually-hidden.focusable:focus {clip: auto;height: auto;margin: 0;overflow: visible;position: static;white-space: inherit;width: auto;}.invisible {visibility: hidden;}.clearfix::before,.clearfix::after {content: "";display: table;}.clearfix::after {clear: both;}a,a:visited {text-decoration: underline;}a[href]::after {  content: " (" attr(href) ")";}abbr[title]::after {  content: " (" attr(title) ")";}a[href^="#"]::after,a[href^="javascript:"]::after {  content: "";}pre,blockquote {  border: 1px solid #999;  page-break-inside: avoid;}tr,img {  page-break-inside: avoid;}p,h2,h3 {  orphans: 3;  widows: 3;  margin: 0;}h2,h3 {  page-break-after: avoid;}* {  position: relative;  outline: none;font-family: monospace sans-serif;-webkit-font-smoothing: antialiased;padding: 0;box-sizing: border-box;margin: 0;word-break: break-word;-webkit-appearance: none;-moz-appearance: none;appearance: none;}body::-webkit-scrollbar{width:0;}
/*****                FIN RESET CSS                  *****/
body {
  background-color: #2C3E50;
  color: white;
  font-family: monospace;
}

/*Img centrada y ajustada al ancho de padre*/
img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
}

/*Ajustes de anchos  web*/
.first_block,
.second_block, .roadmap{
  padding: 20px;
  max-width: 1260px;
  margin: 0 auto;
}

/*Ajuste de tipos*/
h2 {
  font-size: 28px;
  margin: 0 0 30px;
  text-align: center;
}
h2,h1 {
  color: #fd823f;
}

/************/
/***Header***/
/************/
.header_aux {
  display: block;
  position: relative;
  height: 50px;
}

.header_main_menu {
  display: flex;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 999;
}
.header_main_menu .header_toggle span{
  display: block;
  background-color: white;
  width: 24px;
  height: 2px;
  border-radius: 50px;
  transition-duration: .3s;
}
span.header_toggle {
  width: 100%;
  transition-duration: .3s;
}
span.header_toggle:hover::after,span.header_toggle::after {
  transition-duration: .3s;
}
.header_main_menu .header_toggle .hamburguer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  width: 100%;
  height: 50px;
  pointer-events: none;
  z-index: 9999999999999999;
}
.header_menu {
  display: block;
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0;
  top: 0;
  pointer-events: none;
  background-color: #2c3e50;
  transition-duration: .3s;
}
.header_toggle:hover {
  height: 300px;
}
.header_toggle:hover span {
  opacity: 0.5;
}
.header_toggle:hover .header_menu {
  height: 300px;
  background-color: rgba(44,62, 80,.6);
  backdrop-filter: blur(25px);
  pointer-events: initial;
}

.header_main_menu span.header_toggle .header_menu:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  max-width: 1200px;
  height: 1px;
  background: radial-gradient(white, transparent);
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0px);
}
.header_menu ul {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  height: 0px;
  max-width: 1260px;
  padding: 40px 30px 10px;
  margin: 0 auto;
  /************/
  opacity: .0;
  /************/
  transition-duration: .3s;
}
.header_menu:hover ul {
  opacity: 1;
  height: 300px;
}

.header_menu ul .header_menu_ul {
  padding: 0;
  gap: 20px;
}

.header_menu ul li {
  list-style: none;
  font-size: 16px;
  line-height: 28px;
  height: 100%;
}

.header_menu ul li a {
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  height: 100%;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  pointer-events: none;
}
.header_menu:hover ul li a{
  pointer-events: all;
}
.icon_language {
  display: block;
  position: relative;
  width: 24px;
  height: 16px;
}


/*************/
/*First Block*/
/*************/
.first_block {
  padding-top: 40px;
}
.first_block_content h2 {
  color: white;
}
.first_block h1 {
  font-size: 36px;
  margin: 0 0 10px;
  text-align: center;
}

.first_block .main_photo {
  display: block;
  position: relative;
  overflow: hidden;
  width: 270px;
  height: 370px;
  margin: 0 auto;
  border-radius: 30px;
  border: 1px solid white;
  overflow: hidden;
  order: 0;
}

.main_photo img {
  padding: 10px;
  border-radius: 30px;
}

@media (min-width: 1024px) {
  .first_block .main_photo {
    width: 380px;
    height: 540px;
    order: 1;
  }

  .main_photo img {
    padding: 20px;
    border-radius: 40px;
  }
}

@keyframes infinite_movement {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.main_parent_content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  column-gap: 30px;
  align-items: center;
}

@media (min-width: 1024px) {
  .main_parent_content {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.main_block h2 {
  position: absolute;
  left: 50%;
  top: 0px;
  text-align: center;
  width: calc(100% - 65px);
  background-color: #2c3e50;
  padding: 0 10px;
  margin-bottom: 0;
  transform: translate(-50%, -50%);
}

.main_lang {
  order: 1;
}

@media (min-width: 1024px) {
  .main_lang {
    order: 0;
  }
}

.main_contact {
  order: 2;
}

@media (min-width: 1024px) {
  .main_contact {
    order: 2;
  }
}

.scroll {
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
  width: 36px;
  height: 36px;
  left: 50%;
  transform: translate(-50%, 0);
  animation-name: infinite_movement;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.scroll span {
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}

.scroll:after {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #34495E;
}

.scroll span:after,
.scroll span:before {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 10px;
  background-color: #34495E;
  top: calc(50% + 4px);
  left: calc(50% + 3px);
  transform: translate(-50%, -50%) rotate(45deg);
}

.scroll span:before {
  left: calc(50% - 3px);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.main_block {
  display: block;
  position: relative;
  width: fit-content;
  margin: 100px auto 0;
  padding: 10px 40px 30px;
  border: 1px solid white;
  border-radius: 30px;
}

@media (min-width: 1024px) {
  .main_block {
    width: calc(50% - 192px);
    margin: 0 auto;
  }
}

.second_block {
  margin-top: 30px;
}

.second_block_icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px;
  margin-top: 40px;
}

.main_block article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_block article p {
  text-align: center;
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
}

.main_block article figure {
  width: 64px;
  height: 64px;
}

@media (min-width:1024px) {
  .second_block_icons {
    gap: 20px 50px;
  }
}

@keyframes grow_img {
  0% {
    width: 64px;
    height: 64px;
  }

  100% {
    width: 72px;
    height: 72px;
  }
}

.main_block article:hover figure {
  animation-name: grow_img;
}


/**************/
/*Second Block*/
/**************/
.second_block {
  margin-top: 30px;
}

.second_block .second_block_content_parent {
  border-radius: 30px;
  padding: 30px;
  border: 1px solid #ECF0F1;
}

.second_block h2 {
  margin-bottom: 25px;
}

.second_block p {
  font-size: 16px;
  line-height: 22px;
  margin-top: 15px;
}

@media (min-width:1024px) {
  .second_block .second_block_content_parent {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }

  .second_block h2 {
    text-align: left;
    margin-bottom: 0;
    max-width: 250px;
  }

  .second_block p:first-child {
    margin-top: 0;
  }
}


/* Galería */
.gallery_timeline {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  max-width: 1220px;
  width: calc(100% - 40px);
  margin: 20px auto;
  border-radius: 30px;
  overflow: hidden;
}

.gallery_timeline .img-column .container-aux span:after{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20px;
  top: 0;
  left: 0;
  padding-top: 300px;
  background: linear-gradient(to bottom,red,transparent);
}
.gallery_timeline>.img-column {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100px;
  transition: 0.5s;
}


.img-column img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(80%);
  transition-duration: .5s;
}

.img-column:hover img {
  filter: grayscale(0);
}
.content-gallery:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20px;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom,#2C3E50,transparent);
}
.content-gallery {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #2C3E50;
  border-radius: 30px;
  padding: 20px;
  width: calc(100% - 50px);
  max-height: 80%;
  overflow: scroll;
  opacity: 0;
  transition-duration: .5s;
}

.content-gallery p {
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 10px;
}
.content-gallery .main-content-gallery {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
}
.content-gallery .main-content-gallery:last-child {
  margin-bottom: 0px;
}
.content-gallery::-webkit-scrollbar {
  width: 0;
  opacity: 0;
}

/* Auxiliar espacio superior de enlaces a gallery */
.gallery_timeline .aux-link {
  display: block;
  position: absolute;
  top: -80px;
  opacity: 0;
  pointer-events: none;
  z-index: 9999999;
}

/*Lógica de Enlaces responsive a botones sin JavaScript*/
[id=wrk-1]:target~.img-column {
  height: 300px;
}
[id=wrk-1]:target~.img-column .content-gallery {
  opacity: 1;
}
.gallery_timeline [id=wrk-2]~.img-column{
  height: 100px;
}
.gallery_timeline [id=wrk-2]~.img-column .content-gallery{
  opacity: 0;
}
[id=wrk-2]:target~.img-column {
  height: 300px;
}
[id=wrk-2]:target~.img-column .content-gallery {
  opacity: 1;
}
.gallery_timeline [id=wrk-3]~.img-column {
  height: 100px;
}
.gallery_timeline [id=wrk-3]~.img-column .content-gallery{
  opacity: 0;
}
[id=wrk-3]:target~.img-column {
  height: 300px;
}
[id=wrk-3]:target~.img-column .content-gallery {
  opacity: 1;
}
.gallery_timeline [id=wrk-4]~.img-column {
  height: 100px;
}
.gallery_timeline [id=wrk-4]~.img-column .content-gallery{
  opacity: 0;
}
[id=wrk-4]:target~.img-column {
  height: 300px;
}
[id=wrk-4]:target~.img-column .content-gallery {
  opacity: 1;
}

.gallery_timeline .img-column:hover .content-gallery {
  opacity: 1;
}
.gallery_timeline .img-column:hover {
  height: 300px;
}

.img-column:hover~.img-column span[id^=wrk-]:target~.img-column {
  height: 100px;
}
/*Fin de lógica de Enlaces responsive a botones sin JavaScript*/











@media (min-width:1024px) {
  .gallery_timeline {
    flex-wrap: nowrap;
  }
  .gallery_timeline>.img-column {
    width: 80px;
    height: 400px;
  }
  .img-column:hover {
    height: initial;
  }
  .img-column {
    flex-grow: 1;
  }
  .img-column:hover {
    flex-grow: 3;
  }
}


/**************/
/*  Road Map  */
/**************/
.roadmap {
  max-width: 600px;
}
.roadmap::before,.roadmap::after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: calc(100% - 110px);
  right: 30px;
  top: 80px;
  transform: translate(-50%, 0);
  background-color: white;
  z-index: 1;
}
.roadmap-width {
  height: auto;
}
.roadmap h2 {
  height: 66px;
}
.roadmap-width::after {
  content: "";
    display: block;
    position: sticky;
    width: 50px;
    height: 30px;
    bottom: 0;
    left: 100%;
    background: linear-gradient(to top, #2c3e50, 90%, transparent);
    z-index: 9;
}
.roadmap::after {
  background-color: #fd823f;
  height: 190px;
}
.roadmap-width .content-roadmap::after{
  content: "";
  position: relative;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  right: 2px;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 1;
}
.content-roadmap.get::after {
  background-color: #fd823f;
}
.content-roadmap div{
  width: calc(100% - 100px);
}
.content-roadmap {
  display: flex;
  position: static;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.content-roadmap picture {
  display: block;
  width: 50px;
  height: 50px;
}






/* Footer */
footer #back_to_top {
  position: fixed;
  bottom: 20px;
  right: 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  z-index: 99999;
}

footer #back_to_top a {
  display: block;
  height: 40px;
}

footer #back_to_top a:after,
footer #back_to_top a:before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 3px;
  top: calc(50% - 1px);
  left: calc(50% + 5px);
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #2C3E50;
  border-radius: 5px;
  z-index: 5;
}

footer #back_to_top a:before {
  transform: translate(-50%, -50%) rotate(-45deg);
  left: calc(50% - 5px);
}

footer #back_to_top:hover {
  background-color: #2C3E50;
  border: 1px solid white;
}

footer #back_to_top:hover a:before,
footer #back_to_top:hover a:after {
  background-color: white;
}



